body {
    background-image: linear-gradient(
        90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.bg {
    background-color:white;
}


.nav-left button {
    display:block;
    padding: 5px;
    margin: 10px;
    width: 100%;
    text-align: left;
}

.nav-left button i  {
    float: right;
}
