
.bg {
    height: 100vh;
}

.nav-left {
    background-color: white;
    height: 100vh;
}

.nav-left button {
    display:block;
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
    text-align: left;
}

.nav-left button i  {
   margin-right: 5px;
}

.nav-left button span {
    float: right;
    margin-top:2px
}

.overview {
    background-color:brown;
    border-radius: 15px;
    text-align: center;
    margin-top: 7px;
    padding: 25px;
    color: white;
}

.overview h1 {
    text-align: left;
}

