
.bg {
    height: 100vh;
    background-color: black;
}

.hide {
    display: none;
}

.pt-10 {
    padding-top:10px;
}

.title {
    text-align: center;
}

.dayofmon {
    text-align:right;
}

.nav-button {
    display:block;
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: default!important;
}


.nav-left button i  {
   margin-right: 5px;
}

.nav-left button span {
    float: right;
    margin-top:2px
}

.overview {
    background-color:lightgray;
    border: black 1px solid;
    text-align: center;
    padding: 25px;
    color: black;
    margin: 10px 0px;
}

.overview h1 {
    text-align: left;
}

.timer {
    background-color:lightgray;
    border: black 1px solid;
    padding: 25px;
    color: white;
    text-align: center;
}

.timer button {
    margin-top:10px;
}

.timer-button {
    display:flex;
    position: relative;
}

.timer-button button {
    margin:10px;
}

.timer-button h1 {
    margin-top:3px;
}

.add-task-btn i {
    float:right;
    margin-top: 3px;
}

#increaseCount {
    position: absolute;
    left: 0px;
}

#counter {
    text-align: center;
    width: 99%;
}

#decreaseCount {
    position: absolute;
    right: 0px;
}

.task {
    background-color:lightgray;
    border: black 1px solid;
    margin-top: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
}

.task .row input {
    background: transparent;
}

.task i {
    width:5%;
    font-size: 15px;
    cursor: pointer;
}

.task input {
    width: 80%;
    background: transparent;
    border: none;
}

.calenderUI {
    position:absolute;
    width: 250px;
    height: 300px;
    background-color:white;
    right: 0px;
    top: 80px;
    padding: 5px;
    z-index: 10;
}

.calenderUI div {
    height: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderUI div p {
    margin:0px;
    font-size:20px;
    color: white;
}

.year {
    background-color:lightgreen;

}

.month {
    background-color: purple;
}

.days {
    background-color: red;
}

.time {
    background-color:lightpink;
}

.year :first-child, .month :first-child, .days :first-child, .time :first-child{
    position: absolute;
    left:10px;
    font-size: 20px;
    color: white;
}

.year :nth-child(3), .month :nth-child(3), .days :nth-child(3), .time :nth-child(5){
    position: absolute;
    font-size: 20px;
    right:18px;
    color: white;
}

.time .fa-arrow-circle-right {
    position: absolute;
    font-size: 20px;
    right:45px;
    color: white;
}

.time .fa-arrow-circle-left{
    position: absolute;
    font-size: 20px;
    left:35px;
    color: white;
}

.time p {
    position: absolute;
    font-size: 20px;
    left:101x;
    color: white;
}

#repeatBadge {
    position:absolute;
    top: 5px;
    right:57px;
    width:55px;
    text-align: center;
    color: black;
    background-color: none;
    font-weight:normal;
}

#saveTask {
    color: green;
}

.newTask {
    color:black;
    background-color:darkgreen;
    border: black 1px solid;
    margin-top: 10px;
    padding: 20px;
    color: white;
    position: relative;

}

.taskText {
    font-style: normal!important;
    cursor:default!important;
    margin-top: 3px;
}

.dateText {
    position: absolute;
    right: 80px;
    font-style: normal;
    font-size: small;
    margin-top: 3px;
}

.del {
    margin-top: 5px;
    position: absolute;
    right: 50px;
    color: red;
    cursor: pointer;
}

.complete {
    margin-top: 5px;
    float: right;
    color: green;
    cursor: pointer;
}

.newTask > i {
    font-style: normal;
    padding-bottom: 6px;
}

.completeTask {
        color:black;
        background-color:dimgray;
        border: black 1px solid;
        margin-top: 10px;
        padding: 20px;
        color: white;
        position: relative;
}

.incompleteTask {
    color:black;
    background-color:darkred;
    border: black 1px solid;
    margin-top: 10px;
    padding: 20px;
    color: white;
    position: relative;
}

.ongoingTask {
    color:black;
    background-color:darkblue;
    border: black 1px solid;
    margin-top: 10px;
    padding: 20px;
    color: white;
    position: relative;
}

.delCom {
    right: 20px;;
}
